body {
    background-color: #2c3e50;
}

h1 {
	text-align: center;
	font-family: 'Segoe UI', Helvetica;
	color: #3177BC;
}

.content {
	text-align: center;	
}

.button {
    position: absolute;
    top: 50%;
}

.myImage {
    opacity: 0.4;
    filter: alpha(opacity=40); /* msie */
}

#slider {
	text-align: center;
	width: 50%;
}